.star-ratings{
    min-width: 310px;
}


@media only screen and (max-width: 600px) {
    .star-ratings {
        min-width: 210px;
    }
    .widget-svg{

        width: 30px !important;
    }
  }

  body{
      overflow-x: hidden !important;
  }
